<div class="post-card">
<h2 class="head-text post-header">Create a new User</h2>
<form>
    <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">username</label>
    <input type="text" class="form-control" id="username" placeholder="username">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">password</label>
    <input type="password" class="form-control" id="password" placeholder="password">
  </div>
  
</form>
</div>

<script src="/javascript/newUser.js"></script>