<div class="post-card">
<h2 class="head-text post-header">Create a new User</h2>
<form class="">
    <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email-new" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="username">username</label>
    <input type="text" class="form-control" id="username-new" placeholder="username">
  </div>
  <div class="form-group">
    <label for="password">password</label>
    <input type="password" class="form-control" id="password-new" placeholder="password">
  </div>
  <div>
    <button type="button" class="btn btn-warning user-new">submit</button>
  </div>
  
</form>
</div>

<script src="/javascript/newUser.js"></script>