<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tech blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Tech Blog</h1>
  </header>
  <nav>
    {{#if loggedIn}}
    <a href="">Home</a>
    <a href="">dashboard</a>
    <a href="">new post</a>
    <a href="">log out</a>
    {{#else}}
    <a href="">Home</a>
    <a href="">login</a>
    <a href="">sign up</a>  
    {{/if}}
  </nav>
  <main>
    <div>
      {{{body}}}
    </div>
  </main>
</body>

</html>